
h1 {
	text-align: center;
}

body {
	background-color: darkgrey;
}

nav {
	display: block;
}

table, td, th {
	border: 1px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

author {
	float: right;
}
