
h1 {
	text-align: center;
}

body {
	background-color: darkgrey;
}

nav {
	display: block;
}

table, td, th {
	border: 1px solid;
}

table {
	width: 100%;
	border-collapse: collapse;
}

div.gallery-left {
	margin: 5px;
  	border: 1px solid #ccc;
  	float: left;
  	width: 540px;
}

author {
	float: right;
}
